li {
  list-style: none;
}

.post-image {
  max-width: 400px;
  max-height: 350px;
}

.thumbnail-image {
  max-width: 250px;
  max-height: 200px;
  padding-top: 20px;
}

#haiku-list {
  margin-bottom: 10px 0 0;
}

#new-haiku {
  margin-bottom: 20px;
}
