{{#link-to 'new-haiku' class="btn btn-primary"}}New Haiku!{{/link-to}}

<div>
  {{#each haiku in model}}
    <div class="col-md-12">
      <ul>
        <li>
          {{#link-to 'haiku' haiku}}
            {{haiku.author}}, {{haiku.firstLine}} . . .
          {{/link-to}}
        </li>
      </ul>
    </div>
  {{/each}}
</div>
